{block content}

<p><a n:href="Homepage:default">Back to homepage</a></p>

<div class="id">Event id: {$event->event_id}</div>


<!-- n:block title upravuje hlavičku -->
<h1 n:block="title">{$event->event_name}</h1>
<p>{$event->event_city}</p>
<p>{$event->event_country}</p>
<p>{$event->event_website}</p>

<!-- <a n:href="Event:edit $event->event_id">Edit event</a> -->
<a n:href="Event:edit $event->event_id">Edit event</a>
{/block}